body {
  margin: 0;
  text-align: center;
}

/***************class*********************/
.top_ {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 5%;
  margin: 0;
}

.profile {
  text-align: center;
  width: 80%;
  margin: 100px auto ;
}

.bottom_ {
  background-color: #66BFBF;
  padding-top: 20px;
  padding-bottom: 30px;
  }

.top-cloud {
  position: absolute;
  right: 110px;
  top: 80px;
}

.bottom-cloud {
  position: absolute;
  left: 22%;
  bottom: 34%;
}

.p1 {
  color: #66BFBF;
  font-size: 1.4em;
  font-weight: normal;
  font-family: 'Bebas Neue', cursive;
}

.Pimg {
  border-radius: 50%;
  border: 4px solid grey;
  margin: 20px auto;
  width: 30%
}

.Scode {
  border-radius:80%;
  border: 8px double #555;
  width: 180px;
  float: left;
  margin: 30px 30px auto 30px;
}

.Scpu {
  border-radius: 80%;
  border: 8px double #555;
  width: 250px;
  float: right;
  margin: 30px 30px auto 30px;
}

.down {
  position: absolute;
  height: 28%;
  width: 15%;
  top: 72%;
  right: 10%;
}

.footer-link {
  color: #11999E;
  font-size: 1.2em;
}

.skill-row {
  width: 80%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skills{
  margin-top: 50px;
}
.Bp{
  color:white;
  font-weight: 100;
  text-size:14px;
}
.contact-me{
  width: 80%;
  margin: 100px auto;
}
.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Comfortaa', cursive;
	font-size:1.2em;
	font-weight:bold;
	padding:13px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  font-weight: 100;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}
/************************attriubute*************************/
h1 {
  color: #66BFBF;
  font-size: 5em;
  font-family: 'Sacramento', cursive;
  margin: 5% auto 0 auto;
  font-weight: 600;
}

h2 {
  font-weight: 200;
  color: #66BFBF;
  font-size: 3em;
  font-family: 'Bebas Neue', cursive;
}

h3 {
  color: #11999E;
  font-weight: 100;
  font-size: 1.5em;
  font-family: 'Bebas Neue', cursive;
}

p {
  color: #40514E;
  font-family: 'Comfortaa', cursive;
  line-height: 2;
  font-weight: 600;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  border-color: grey;
  width: 5%;
}
